.asot__trance {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden !important;
}

.asot__trance--glass {
  background: white;
  min-height: 85vh;
  width: 70%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  opacity: 0.7;
  backdrop-filter: blur(3rem);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1600px) {
  .asot__trance--glass {
    width: 80%;
  }

  .react-jinke-music-player-main {
    width: 80% !important;
  }
}

@media screen and (max-width: 1300px) {
  .asot__trance--glass {
    width: 90%;
  }

  .react-jinke-music-player-main {
    width: 90% !important;
  }
}

@media screen and (max-width: 1000px) {
  .asot__trance--glass {
    width: 100%;
  }

  .react-jinke-music-player-main {
    width: 100% !important;
  }
}

.asot__trance--bg {
  background: url('../assets/asotRobots/invasionRobots.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  flex: 0.2;
  position: relative;
  z-index: -999;
  overflow: hidden;
  animation: hue 5s infinite alternate;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

@media screen and (max-width: 1000px) {
  .asot__trance--bg {
    flex: 0.5;
  }
}

@media screen and (max-width: 757px) {
  .asot__trance--bg {
    flex: 1;
    background-color: pink;
    mix-blend-mode: normal;
    filter: blur(0.5rem);
  }
}

.asot__trance--bg::after {
  content: '';
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(0.2rem);
  transform: scale(1.15);
}

.asot__trance--flex__items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

@media screen and (max-width: 1000px) {
  .asot__trance--flex__items {
    flex: 1;
  }
}

@media screen and (max-width: 757px) {
  .asot__trance--flex__items {
    display: none;
  }
}

.asot__trance--card {
  width: 50%;
  height: 75%;
  background: #f4f4f4;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}

@media screen and (max-width: 1000px) {
  .asot__trance--card {
    width: 100%;
    height: 100%;
    border-radius: none;
  }
}

.asot__trance--card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.asot__trance-card__icon {
  font-size: 2rem;
  color: #8659ca;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.asot__trance-card__icon:hover {
  color: #eb70af;
}

.asot__trance--card__header {
  width: 100%;
  min-height: 50%;
  background: url('../assets/asot1000Anthem/anthem1000.jpg');
  background-position: top center;
  background-size: cover;
  background-color: #d106d1;
  mix-blend-mode: exclusion;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.asot__trance--card__body {
  text-align: left;
  padding-left: 3rem;
  margin-top: 2.3rem;
}

.asot__trance--card__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.2vh;
}

.asot__trance--card__item h5 {
  color: #9e6a16;
}

.asot__trance--card__subtitle {
  font-size: calc(0.8rem + 0.7vw);
  letter-spacing: 0.2rem;
  color: #eb70af;
  text-shadow: 0 1px 0 hsl(174, 5%, 80%), 0 2px 0 hsl(174, 5%, 75%),
    0 3px 0 hsl(174, 5%, 70%), 0 4px 0 hsl(174, 5%, 66%),
    0 5px 0 hsl(174, 5%, 64%), 0 6px 0 hsl(174, 5%, 62%),
    0 7px 0 hsl(174, 5%, 61%), 0 8px 0 hsl(174, 5%, 60%),
    0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}

.asot__trance--card__country {
  font-size: calc(0.4rem + 0.5vw);
  letter-spacing: 0.2rem;
  font-weight: 200;
  color: #9e6a16;
}

.asot-top1000 a {
  position: absolute;
  top: 46%;
  left: 1.2%;
  padding: 0.3rem;
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  color: #eb70af;
  font-weight: bold;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  animation: jump 0.1s linear infinite alternate;
}

.asot-top1000 a:hover {
  transform: translateX(-60px) !important;
  transition: all 1s ease-out;
}

@keyframes jump {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}

.logo-1 {
  position: absolute;
  top: 6%;
  right: 7%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 9999px;
  width: 17%;
}

.logo-2 {
  position: absolute;
  bottom: 6%;
  z-index: 200;
  left: 7%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 9999px;
  width: 17%;
}

@media screen and (max-width: 1600px) {
  .logo-1 {
    width: 20%;
  }

  .logo-2 {
    width: 20%;
  }

  .logo-1,
  .logo-2 {
    background: unset;
  }
}

@media screen and (max-width: 1300px) {
  .logo-1 {
    display: none;
  }

  .logo-2 {
    display: none;
  }
}
