
/* css reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #444;
  cursor: pointer;
}
ul {
  list-style: none;
}

button,
input {
  overflow: visible;
}


