*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Montserrat', sans-serif;
}

.main{
 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* player */ 


.player-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}